header{
    height: 90px;
    background-color: rgb(106, 106, 106);
}

nav{
    display: flex;
    justify-content:space-between;
    padding-left: 50px;
    padding-right: 50px;
}

nav a{
    font-family: "Open Sans", sans-serif;
    font-weight: 550;
    font-size: 44px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.call{
    margin-top: 15px;
}

nav a:hover{
    color: #9e040e;
}

nav svg:hover{
    color: #9e040e;
}

body{
    background-color: #e7cfaeea;
}

#about{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#about img{
    height: 450px;
    border-radius: 50px;
    border: 9px solid #9e040e;
    margin-top: 20px;
}

#about h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 76px;
    margin: 0%;
}

.town{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #790008;
}

#about p{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#about ul{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin: -1%;
}

#about p span{
    font-family: "Open Sans", sans-serif;
    font-weight: 650;
    font-size: 40px;
    color: #9e040e;
}

.ex_foto{
    margin-top: 30px;
}

#ex{
    margin-bottom: 20px;
}

#ex a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #790008;
}

.foto{
    margin-top: 20px;
}

.ex_foto img{
    height: 300px;
    margin-right: 20px;
}
.ex_flo img{
    height: 255px;
    margin-right: 15px;
    margin-top: 20px;
}

#contacts{
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    color: #9e040e;
    background-color: white;
    width: 500px;
    padding-left: 40px;
    border-radius: 50px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#contacts p{
    margin-top: 20px;
    margin-bottom: 20px;
}